@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Heavy.ttf");
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-UltraLight.ttf");
    font-weight: 200;
}

* {
    font-family: "gilroy" !important;
}

html {
    scroll-behavior: smooth;
}

body,
.cover {
    overflow-x: hidden;
    overflow-y: auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: #0c9ce9 #ffffff;
} */

/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
    width: 16px;
    height: 0px;
    color: #0C8CE9;

} */

/* *::-webkit-scrollbar-track {
    background: #ffffff;
} */

*::-webkit-scrollbar-thumb {
    background-color: #0c9ce9;
    border-radius: 0px;
    border: 0px none #ffffff;
}

::-webkit-scrollbar {
    width: 7px;
    height: 0px;
    color: #0C8CE9;
}

footer td {
    cursor: pointer;
}

li.slick-active>div {
    background-color: #0C8CE9;
}

/* .hover-able-map:hover>rect {
    display: block;
    fill: #cad2d8;
} */

.industry-img {
    display: none !important;
}

@media screen and (min-width:1024px) {
    .industry-img {
        display: inline !important;
    }
}

.hover-able-map,
svg a {
    padding: 1rem;
}

.hover-able-map:hover text {
    visibility: visible;
    display: block;
    /* Ensure text is not set to display: none */
    fill: white;
    /* Adjust color to ensure visibility */
}

.header-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    filter: blur(1px);
}

.f-mon,
.f-mon * {
    font-family: "Montserrat", sans-serif !important;
}

.f-gil {
    font-family: "gilroy" !important;
}

.hover-shadow-custom:hover {
    box-shadow: 1px 3px 24px -3px rgba(0, 0, 0, 0.194);
    transition: box-shadow 0.3s ease-in-out;
    /* -webkit-box-shadow: 1px 3px 24px -3px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 1px 3px 24px -3px rgba(0, 0, 0, 0.68); */
}

.inner-progress {
    width: 0%;
    animation: progress-animation 8s linear infinite;
}

@keyframes progress-animation {
    0% {
        width: 0%;
        /* Start width */
    }

    100% {
        width: 100%;
        /* End width */
    }
}

.header-img {
    transition: background-image 1s ease-in-out;
}

.header-img.fade-in {
    opacity: 1;
}

.header-img.fade-out {
    opacity: 0.8;
    transition: opacity 0.5s ease-out;
}

.services,
.services *,
.services-over,
.services-over *,
.latest-insights,
.latest-insights * {
    user-select: none;
    /* Disables text selection */
    -webkit-user-select: none;
    /* For Safari */
    -moz-user-select: none;
    /* For Firefox */
    -ms-user-select: none;
    /* For IE */
}

.services,
.services-over {
    cursor: grab;
}

@media screen and (min-width: 1920px) and (max-width: 1930px) {
    .container {
        max-width: 90vw;
    }
}

@media screen and (min-width: 1535px) and (max-width: 1600px) {
    .container {
        max-width: 90vw;
    }
}

@media screen and (max-width:1500px) {
    .container {
        width: 90vw !important;
    }
}

header.text-black nav * {
    color: black !important;
}

.blue-gradient {
    background: linear-gradient(90deg, #0C8CE9 0%, #0066FF 100%);
}

.featured-projects-gradient {
    background: linear-gradient(90deg, #0C8CE9 0%, #0066FF 100%);
}


.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded,
.css-1oqimao.Mui-expanded {
    min-height: 0 !important;
    height: 2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.css-mzgvh0-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0px 0;
}

.design-card-bg {
    background: linear-gradient(180deg, #0B8AEA 0%, #0067FE 100%);
}


.css-w0hlca.Mui-expanded {
    margin: 0px 0;
}

.ready-to-realize-bg {
    background: linear-gradient(90deg, #0C8CE9 0%, #0066FF 100%);
}

.near-share-teams-bg {
    background: linear-gradient(270deg, #0C8CE9 0%, #0066FF 100%);
}