@tailwind base;
@tailwind components;
@tailwind utilities;

* {
      font-family: "Montserrat", sans-serif !important;
}

body, .cover {
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar-button {
    width: 0px; 
    height: 0px; 
  }