@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Heavy.ttf");
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy/Gilroy-UltraLight.ttf");
    font-weight: 200;
}

* {
    font-family: "gilroy" !important;
}

html {
    scroll-behavior: smooth;
}

body,
.cover {
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

footer td {
    cursor: pointer;
}

li.slick-active>div {
    background-color: #0C8CE9;
}

.hover-able-map:hover>rect {
    display: block;
    fill: #cad2d8;
}